template(name="race")
  section#race-panel
    span.time Elapsed Time: #{timer}
    ul#race-participants
      each participants
        +race_participant

    aside.goal= race.phrase

    if isParticipating
      if isPending
        .buttons
          button.ready-button I'm Ready!
          button.leave-button Leave Race
      else
        form#sequence-form
          input#message(type="text", name="message", placeholder="Type...", disabled=disabled, value=lastValid)
    else
      .buttons
        button.join-race-button Join Race

template(name="race_participant")
  li.race-participant(class="car-#{carKey}")
    span.name= name

    aside.track
      if avatar
        img(src="/images/#{avatar}.png")
      else
        img(src="/images/car.png")

