template(name="race")
  section#race-panel
    +stoplight
    if isRacing
      section.hud.clearfix
        aside.pull-left.time Elapsed Time: #{timer}
        aside.pull-right.wpm Words Per Minute: #{wpm}

    if participants.count
      ul#race-participants
        each participants
          +race_participant
    else
      .awaiting-racers Awaiting racers...

    aside.goal= race.phrase

    if isPending
      .buttons
        button.ready-button I'm Ready!
        button.leave-button Leave Race

    if canJoin
      .buttons
        button.join-race-button Join Race

  if raceFormShowing
    section#sequence-form-panel
      input#message(type="text", name="message", autocomplete="off", placeholder="Type...", disabled=disabled, value=lastValid)

template(name="race_participant")
  li.race-participant(class="car-#{carKey}")
    span.name= name

    aside.track
      .car
        b.letter= lastCharacter
        if avatar
          img(src="/images/#{avatar}.png")
        else
          img(src="/images/car.png")

